body {
    margin: 0%;
    background-color: rgb(26, 24, 24);

    .app-wrapper {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 0.5fr);
        grid-template-rows: auto auto 1fr auto auto auto;
        
    
        // grid-template-areas: 
        // "header" 
        // "navBar"
        // "heros-section"
        // "SideBar"
        // "footer";
    }
}